<div class="d-flex flex-row h-100">

  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">客製表單元件示範</span>
    </span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a [routerLink]="['/example']" routerLinkActive="active" class="nav-link text-white" aria-current="page">
          Reactive Form
        </a>
      </li>
      <li>
        <a [routerLink]="['/example2']" routerLinkActive="active" class="nav-link text-white">
          ControlValueAccessor
        </a>
      </li>
      <li>
        <a [routerLink]="['/example3']" routerLinkActive="active" class="nav-link text-white">
          Custom Form Component
        </a>
      </li>
    </ul>
  </div>

  <div class="container w-100 bg-light overflow-scroll">
    <router-outlet></router-outlet>
  </div>

</div>




